@model CanTeenVL.Models.FOOD

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 style="text-align:center">Detail Food</h2>
<br />
<div class="card card-primary">
    <div class="card-header">
        <h1 class="card-title">Detail</h1>
    </div>

    <form>
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">FOOD_CODE</label>
                <input type="text" class="form-control" disabled placeholder=@Html.DisplayFor(model => model.FOOD_CODE)>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">FOOD_NAME</label>
                <div class="form-control" disabled style="background-color: #e9ecef;color: #A9A9A9">
                    @MvcHtmlString.Create(Model.FOOD_NAME)
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">DESCRIPTION</label>
                <div class="form-control" disabled style="background-color: #e9ecef ;color: #A9A9A9">
                    @MvcHtmlString.Create(Model.DESCRIPTION)
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">PRICE</label>
                <input type="text" class="form-control" disabled placeholder=@Html.DisplayFor(model => model.PRICE)>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">CATEGORY_CODE</label>
                <input type="text" class="form-control" disabled placeholder=@Html.DisplayFor(model => model.CATEGORY.CATEGORY_CODE)>
            </div>

            <div class="form-group">
                <label for="IMG">PICTURE</label>
                <br />
                <img id="Picture" src="@Url.Action("Picture", new { Model.ID})" width="130" />
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" disabled @Html.DisplayFor(model => model.STATUS)
                    <label for="customCheckbox3" class="custom-control-label">STATUS</label>
                </div>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <a href=@Url.Action("Edit", new { Model.ID}) class="btn btn-primary">Edit</a>
            <a href="@Url.Action("Index","ProductAdmin")" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>

